$orange: #fd7114;

$header_bg: #110f21;
$bg: #f8f8f8;
$footer: #f1f1f3;

$text_1: #101010;
$text_5: #110f21;
$text_dark: #101010;
$text_dark_2: #373738;

$input_bg: #f9fafb;
$input_icon: #727272;
$input_label: rgba(112, 112, 112, 0.54);

$gray: #f0f0f0;
$gray_3: #707070;
$gray_5: #dedee0;

$dark_1: #373738;
$dark_2: #707070;
$dark_3: #e0e0e0;

$modal_bg: rgba(0, 0, 0, 0.7);

$blue: #148dfd;
$red: #f44336;
$line_2: #eceef0;

/*layout styles*/

$green: #afdbbe;
$white: #ffffff;
$black: #000000;
$header: #101010;
