@import "../../common/styles/variables";

.wrapper {
  width: 100%;
  max-width: 489px;
  margin: 0 auto 50px;
}

.title {
  margin: 0 0 30px;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: $black;
}

.inputs {
  width: 100%;
  max-width: 377px;
  margin: 0 auto;

  label {
    margin: 0 0 20px;
  }
}
