@import "../../common/styles/variables";

.wrapper {
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  background: $footer;
}

.copyrighting {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $dark_2;
}
